<h1 style="text-align: center">Editing raffle</h1>

<%= render 'form' %>

<div style="text-align: center;width: 100%">
<%= link_to 'Show', @raffle, style:"text-align:center;color:#fff;width:330px",  class:'btn btn-lg btn-primary btn-block btn1 btn4' %> <br>
<%= link_to 'Back', raffles_path, style:"text-align:center;color:#fff;width:330px",  class:'btn btn-lg btn-primary btn-block btn1 btn4' %>
</div>
