<div class="container_main">
 <div class="logo_home">
    <a href=""><%= image_tag 'logo.png' %></a>
  </div>
  <div class="welcome">
  <h2>Welcome to QuidPrize.Com!</h2>
  </div>
  <div class="beta">
  <h4>Currently in beta</h4>
  </div>
  <div class="paragraph">
  <p class="para1"><%= link_to 'find a raffle', raffles_path %> to participate in, or
  <%= link_to 'view your current tickets', tickets_path %> where you can see how many clicks you have, and your odds
  of winning each prize.</p>
  <p class="para2">are you a url owner? <%= link_to 'create a raffle', raffles_path %> to encourage your users
    to promote your online presence.</p>
  <p class="para3"><a href="">learn more</a> about how this all works and
    why quidprize.com is both the cheapest and most effective way to increase traffic to your site.
  </p>
    </div>
   </div>  